<!DOCTYPE html>
<html ng-app="persephone">
<head>
  <title>Perséphone</title>
  <meta charset="utf8">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/persephone.css">
</head>
<body>
  <div id="main-body" class="container" ng-view>
  </div>
  <script src="/static/js/lib/jquery-2.1.0.min.js"></script>
  <script src="/static/js/lib/bootstrap.min.js"></script>
  <script src="/static/js/lib/socket.io.js"></script>
  <script src="/static/js/lib/angular.min.js"></script>
  <script src="/static/js/lib/angular-route.min.js"></script>
  <script src="/static/js/persephone.SearchService.js"></script>
  <script src="/static/js/persephone.SearchController.js"></script>
  <script src="/static/js/persephone.js"></script>
</body>
</html>
