<ul class="nav nav-tabs">
  {% for search in searches %}
    <li class="{% if search.id === activeSearch  %}active{% endif %}"
      onclick="persephoneOnTabClicked('{{ search.id }}')">
      <a href="#search-{{ search.id }}" data-toggle="tab">
        {{ search.what }}
        <button class="close" style="float: none;" onclick="persephoneOnCloseTab('{{ search.id }}')">&times;</button>
      </a>
    </li>
  {% endfor %}
</ul>
<div class="tab-content">
 {% for search in searches %}
    <div class="tab-pane{% if search.id === activeSearch %} active{% endif %}" id="search-{{ search.id }}">
      {% if search.results.length == 0 %}
        0 results so far.
      {% else %}
        <table class="table">
          <tr>
            <th>Title</th>
            <td>Date</td>
            <td>Size</td>
            <td>Seeds</td>
            <td>Leechs</td>
          </tr>
          {% for result in search.results %}
            <tr data-id="{{ result.id }}">
              <td><a href="{% if result.magnet %}{{ result.magnet }}{% else %}{{ result.torrent }}{% endif %}"><span class="glyphicon glyphicon-magnet"></span></a></td>
              <td><a href="{{ result.url }}" target="_blank">{{ result.title }}</a></td>
              <td>{{ result.date }}</td>
              <td>{{ result.size }}</td>
              <td>{{ result.seeds }}</td>
              <td>{{ result.leechs }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>
  {% endfor %}
</div>